<!-- comments show page? -->
<h1><%= @comment.title %></h1>
  <body>
    <p><%= @comment.body %></p>
    <br>
    <p><%= @comment.author %></p>
  </body>
      
    <!-- All Comments page? --> 

 <!-- <h1>Comments</h1>
  <body>
  	<ul>
  		<%# @comments.each do |comment| %>
  	    <li><h4><%#= comment.title %></h4></li>
         <li><%#=  comment.body %></li>
         <br>
         <li><%#=  comment.author %></li>
    </ul>     	
    <br>  
    <%#end%>
  </body>

  -->

  

  
  

