<h1> <%= post %> </h1>
<p> This is either a question or an answer. We are polymorphic types of posts. This is either a question or an answer. We are polymorphic types of posts. This is either a question or an answer. We are polymorphic types of posts. This is either a question or an answer. We are polymorphic types of posts. </p>
<%= render partial: "comment", collection: @comments %>