<% if post.type == "Question" %>
  <h1> <%= post.title %> </h1>
<% end %>

<p> 
  <span class="glyphicon glyphicon glyphicon-ok" aria-hidden="true"></span>
  <span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>
  <%= post.body %>
</p>

<%= render partial: "comment", collection: post.comments %>

<h4>Add A Comment</h4>
<form>
  <textarea> </textarea>
  <input type="submit"></input>
</form>