
  <h2 style='text-align: left'>Top Questions</h2>
  <table class='table'>
    <tr>
      <th class='votes' style='width: 1%'>Votes</th>
      <th class='answers' style='width: 1%'>Answers</th>
      <th class='views' style='width: 1%'>Views</th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <td class='votes' style='text-align: center'>2</td>
      <td class='answers'style='text-align: center'>3</td>
      <td class='views'style='text-align: center'>4</td>
      <td style='text-align: center'><a href="#">Really Really Really rediculously long title</a></td>
      <td>Author Name and posted at</td>
    </tr>
  </table>
