<tr>
  <td class='votes' style='text-align: center'>2</td>
  <td class='answers'style='text-align: center'>3</td>
  <td class='views'style='text-align: center'>4</td>
  <td>
    <table>
      <tr>
        <td colspan="3"><a href="#">Really Really Really rediculously long title</a></td>
      </tr>
      <tr>
        <td>
          <a class="btn btn-default btn-xs" href="#" role="button">Tag1</a>
          <a class="btn btn-default btn-xs" href="#" role="button">Tag2</a>
          <a class="btn btn-default btn-xs" href="#" role="button">Tag3</a>
        </td>
        <td style='text-align: right'><small>Author Name and posted at</small></td>
      </tr>
    </table>
  </td>
</tr>
