
<br>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-8">
      <a href="<%= questions_recent_path %>" class="btn btn-default btn-sm" role="button">Recent</a>
      <button type="button" name="button" class='btn btn-default btn-sm'>Views</button>
      <button type="button" name="button" class='btn btn-default btn-sm'>Votes</button>
    </div>
  </div>

  <h2 style='text-align: left'>Top Questions</h2>
  <table class='table'>
    <tr>
      <th class='votes' style='width: 1%'>Votes</th>
      <th class='answers' style='width: 1%'>Answers</th>
      <th class='views' style='width: 1%'>Views</th>
      <th></th>
      <th></th>
    </tr>
      <%= render @questions %>
  </table>
</div>
