
<br>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-8">
      <button type="button" name="button" class='btn btn-default btn-sm'>Recent</button>
      <button type="button" name="button" class='btn btn-default btn-sm'>Views</button>
      <button type="button" name="button" class='btn btn-default btn-sm'>Votes</button>
    </div>
  </div>

  <%= render partial: 'question' %>
</div>
